{
  "parser": "@typescript-eslint/parser",
  "extends": ["@avayler/eslint-config"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
