.title {
  padding: 20px;
  display: inline-block;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 20px;
  flex: 0 1 200px;
  align-items: center;
}

.textContent {
  display: flex;
  flex-flow: column;
}
