.title {
  display: inline-block;
  grid-gap: 10px;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: .75rem;
  text-transform: capitalize;
}

.wrapper {
  display: flex;
  grid-gap: 5px;
  max-width: 400px;
}