.title {
  padding: 0 20px;
  display: inline-block;
  font-weight: 500;
}

.subTitle {
  padding: 15px 0 5px 0;
  display: inline-block;
  font-weight: 500;
  margin: 10px 0 0 0;
  font-size: 1rem;
}

.wrapper {
  border-radius: 15px;
  padding: 10px 40px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
